[Unit]
Description=Run wakeonlan script after network initialization
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/init/wakeonlan.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
