# Managed by Ansible (role: server1_services)
SMTP_HOST={{ server1_backup_smtp_host | mandatory }}
SMTP_PORT={{ server1_backup_smtp_port | mandatory }}
SMTP_USER={{ server1_backup_smtp_user | mandatory }}
SMTP_PASSWORD={{ server1_backup_smtp_password | mandatory }}
